import React from "react";
import { ReactDOM } from "react";

import Header from "./components/Header";

const App = () => {
  return (
    <div>
      <Header message="naming contests" />

      <div>...</div>
    </div>
  );
};

ReactDOM.render(<App />, document.getElementById("root"));

setTimeout(() => {
  ReactDOM.render(<h2>...</h2>, document.getElementById("root"));
}, 4000);
